.casting__content {
    display: grid;
    grid-template-columns: repeat(2, 345px);
    gap: 27px;

    >a {
        color: #353535;
    }

    .casting_block {
        border-radius: 20px;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .4);

        .casting_image {
            margin-bottom: 0;

            img {
                &:first-child {
                    border-radius: 20px 20px 0 0;
                }
            }
        }

        .casting_desc {
            padding: 10px;

            h4 {
                margin-bottom: 10px;
            }
        }

        .buttons {
            @include flex-params (row, space-between, center);
            padding: 0 10px;
            padding-bottom: 10px;

            a,
            button {
                background: #0094FF;
                display: block;
                border-radius: 20px;
                padding: 5px 10px;
                @include font-params (600, 14px, 18px);

                &:last-child {
                    background: #c8c8c8;
                }
            }
        }
    }
}

.casting__wrapper {
    color: #353535;

    .grid__wrapper {
        display: grid;
        grid-template-columns: 474px 220px;
        gap: 23px;
        margin-bottom: 20px;


        .casting_title {
            @include flex-params (row, flex-start, flex-start);
            height: 130px;

            .info {
                height: 100%;
                width: 100%;
                @include flex-params (column, space-between, flex-start);
            }

            h3 {
                @include font-params (600, 16px, 20px);
            }

            p {
                @include font-params (500, 12px, 15px);
            }

            .buttons {
                @include flex-params (row, space-between, center);
                width: 100%;

                button {
                    width: 120px;
                    height: 30px;
                    border-radius: 20px;
                    @include font-params (600, 12px, 15px);
                }
            }

            .casting_image {
                position: relative;
                margin-right: 20px;

                img {
                    width: 200px;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }

                .brand_logo {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                }
            }
        }

        .casting_desc {
            background: linear-gradient(#F8F8F8 60%, #c0c0c0 100%);
            width: 100%;
            border-radius: 15px;
            padding: 20px;
            max-height: 419px;
            overflow: hidden;
            position: relative;
            transition: all 0.5s;

            &.full {
                max-height: 1000px;
                background: linear-gradient(#F8F8F8 60%, #f8f8f8 100%);
            }

            .responses {
                padding: 10px;
                border-radius: 15px;
                background: #fff;
                @include flex-params (row, flex-start, center);
                width: max-content;
                margin-bottom: 10px;

                div {
                    margin-right: 10px;

                    p {
                        @include font-params (600, 14px, 18px);

                        span {
                            font-weight: 500;
                            color: #0094FF;
                        }
                    }

                    &:last-child {
                        @include flex-params (row, flex-start, center);
                        margin-right: 0;

                        img {
                            width: 30px;
                            margin-left: -5px;

                            &:first-child {
                                margin-left: 0;
                            }
                        }

                    }
                }
            }

            .full_desc {
                h4 {
                    @include font-params (600, 14px, 18px);
                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                p, a {
                    @include font-params (500, 12px, 15px);
                    margin-bottom: 5px;
                }

                a {
                    color: #353535;
                }
            }

            button {
                padding: 5px 0;
                @include font-params (600, 12px, 15px);
                background: none;
                background: linear-gradient(#c8c8c8 0%, #c0c0c0 100%);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transition: all 0.5s;

                &:hover {
                    color: #353535;
                }
            }
        }

        .casting_video {
            padding: 0;

            &.paused {
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, .4);
                }

                svg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .casting__photos {
            max-height: 419px;
            overflow-y: auto;
            @include flex-params(column, flex-start, center);
            gap: 14.5px;

            &::-webkit-scrollbar {
                display: none;
            }

            img {
                width: 100%;
                height: 130px;
                object-fit: cover;
                border-radius: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .similar_castings {
        h3 {
            margin-bottom: 10px;
        }


        .flex__wrapper {
            max-width: 717px;
            overflow-x: auto;
            align-items: flex-start;
            gap: 20px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        a {
            display: block;
            width: 160px;
            outline: none;

            img {
                width: 160px;
                height: 100px;
                border-radius: 20px;
                object-fit: cover;
                margin-bottom: 10px;
            }

            p {
                color: #353535;
                @include font-params (600, 12px, 15px);
                margin-bottom: 5px;

                &:last-child {
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
    }
}