.messages__wrapper {
    .messages__title {
        @include flex-params (row, space-between, center);
        margin-bottom: 40px;

        div {
            @include flex-params (row, flex-start, center);

            h1 {
                margin-right: 35px;
                cursor: pointer;
            }

            input {
                width: 180px;
                height: 30px;
                border: 1px solid rgba(53, 53, 53, 0.5);
                border-radius: 60px;
                padding-left: 29px;
                @include font-params (600, 14px, 18px);

                &::placeholder {
                    color: rgba(53, 53, 53, 0.5);
                }
            }

            button {
                @include font-params (600, 16px, 20px);
                background: none;
                color: #D9D9D9;
                margin-right: 30px;
                text-transform: uppercase;

                &.active {
                    color: #353535;
                }

                &:nth-child(2) {
                    margin-right: 60px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

        }
    }

    .messages__content {

        .messages_block,
        .request_block {
            display: grid;
            grid-template-columns: repeat(3, 230px);
            grid-template-rows: 66px;
            align-items: center;
            border-bottom: 1px solid #D9D9D9;
            padding: 10px;
            position: relative;
            gap: 40px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }

            >div {
                display: flex;
                align-items: center;
            }

            &:last-child {
                border: none;
            }

            .stories_block {
                width: 66px;
                height: 66px;
                padding: 3px;
                position: relative;
                cursor: pointer;
                margin-right: 10px;

                &:hover {
                    &::before {
                        transform: rotate(180deg);
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 66px;
                    height: 66px;
                    background: url('../../../../public/images/icons/border-logo.png') no-repeat center;
                    background-size: cover;
                    transition: all 1s;
                }

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }

            h2 {
                @include font-params(600, 14px, 18px);
                text-transform: uppercase;
                color: #2F2F2F;
            }

            .user_preview-message {
                @include font-params(600, 14px, 18px);
                color: #D9D9D9;
            }

            .user_status {
                @include font-params(600, 12px, 15px);
                color: #656565;

                &.online {
                    color: #74CA40;
                }
            }
        }

        .request_block {
            display: grid;
            grid-template-columns: 210px 175px 50px 225px;
            grid-template-rows: 60px;
            justify-content: space-between;
            padding: 20px 0;
            cursor: default;

            h2 {
                @include font-params(600, 12px, 15px);
            }

            &:hover {
                background: none;
            }

            p {
                color: #353535;
                @include font-params(500, 12px, 15px);
            }

            button {
                @include font-params(600, 12px, 30px);
                height: 30px;
                width: 110px;
                background: #0094FF;
                margin-right: 10px;

                &:last-child {
                    margin: 0;
                    background: #374148;
                }
            }
        }
    }
}