.profile__wrapper {

    &.dark {
        .active {
            svg {
                fill: #fff !important;
            }
        }

        .profile_avatar {
            p {
                color: #000 !important;
            }
        }

        .social_network {
            svg {
                path {
                    fill: #fff !important;
                }
            }
        }
    }

    .user_title {
        align-items: flex-start;
        margin-bottom: 30px;

        >div {
            @include flex-params (row, space-between, flex-start);
            width: 100%;
        }

        .profile_avatar {
            position: relative;
            background: #f8f8f8;
            border-radius: 20px;
            height: 221px;
            width: 30%;
            @include flex-params (row, center, center);

            p {
                position: absolute;
                top: 10px;
                left: 10px;
                border-radius: 50%;
                background: rgba($color: #fff, $alpha: .95);
                width: 80px;
                height: 80px;
                color: #000;
                @include font-params (500, 13px, 15px);
                text-align: center;
                padding-top: 18px;

                span {
                    display: block;
                    @include font-params (500, 20px, 24px);
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .profile_content {
            @include flex-params (column, space-between, flex-start);
            width: 67%;
            min-height: 221px;

            h1 {
                margin-bottom: 10px;
            }

            h3 {
                @include font-params (600, 14px, 18px);
                margin-bottom: 15px;
            }

            >p {
                @include font-params (400, 15px, 18px);
                margin-bottom: 20px;
            }

            .social_network {
                @include flex-params (row, flex-start, center);
                margin-bottom: 20px;

                a {
                    display: block;
                    height: 30px;
                    width: 30px;

                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .categories {
        @include flex-params (row, space-between, center);
        width: 100%;

        button {
            @include font-params (600, 12px, 14px);
            width: 110px;
            height: 30px;
            border-radius: 20px;
        }
    }

    .statistic {
        @include flex-params (column, space-between, flex-start);
        margin-bottom: 10px;
        padding: 20px;
        gap: 15px;
        border: 1px solid #979797;
        border-radius: 20px;

        &.user_about {
            margin-bottom: 30px;

            div {
                align-items: flex-start;
            }

            .grid__wrapper {
                display: grid;
                grid-template-columns: 125px 200px;
                gap: 5px 10px;

                &:first-child {
                    grid-template-columns: 110px 200px;
                }

                p {
                    text-align: left;
                    @include font-params (500, 10px, 15px);

                    &:nth-child(odd) {
                        @include font-params (600, 10px, 15px);
                    }
                }
            }

            >p {
                text-align: justify;
            }


        }

        h3 {
            @include font-params (600, 14px, 18px);
        }

        >div {
            width: 100%;
            @include flex-params (row, space-between, center);
        }

        p {
            @include font-params (500, 10px, 15px);
            margin-bottom: 5px;
            text-transform: uppercase;
            text-align: center;

            span {
                @include font-params (600, 12px, 15px);
                display: block;
            }
        }
    }

    >div {
        margin-bottom: 30px;

        .upload_post {
            display: block;
            position: relative;
            cursor: pointer;
            width: 80px;

            &::before {
                content: '+';
                @include font-params (300, 60px, 60px);
                display: block;
                color: #979797;
                text-align: center;
                display: block;
                width: 74px;
                padding: 7px 0;
                border: 3px solid #979797;
                border-radius: 50%;
                margin-bottom: 10px;
                background-size: contain;
            }

            input {
                opacity: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }

    nav {
        @include flex-params (row, space-between, center);
        // border-top: 1px solid #979797;
        // border-bottom: 1px solid #979797;
        box-sizing: content-box;
        margin-bottom: 30px;

        a {
            @include flex-params (row, center, center);
            transition: .3s;
            flex-grow: 1;
            height: 100%;
            gap: 10px;
            // border-radius: 10px;

            &:hover {

                // background: #353535;
                svg {
                    fill: #353535;
                }

                p {
                    color: #353535;
                }
            }

            svg {
                align-self: center;
                fill: #979797;
                transition: .3s;
                height: 30px;
                width: 30px;
            }

            &.active {

                // background: #353535;
                svg {
                    fill: #353535;
                }

                p {
                    color: #353535
                }
            }

            p {
                @include font-params (600, 16px, 20px);
                text-transform: uppercase;
                color: #979797;
            }
        }
    }
}


.profile-video__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 345px);
    gap: 27px;

    img,
    .video_block {
        width: 100%;
        height: 350px;
        border-radius: 20px;
        transition: all 0.2s;
        object-fit: cover;

        &:hover {
            scale: 1.02;
        }
    }
}