@media only screen and (max-width: 1024px) {
    .hamburger_btn {
        background: none;

        span {
            display: block;
            margin-bottom: 7px;
            width: 30px;
            height: 4px;
            border-radius: 20px;
            background: #353535;

            &:last-child {
                margin: 0;
            }
        }
    }

    .search_field {
        @include flex-params (row, flex-start, center);

        button {
            background: none;

            &:first-child {
                margin-right: 10px;
            }
        }

        label {
            margin-right: 30px;
            position: relative;

            input {
                width: 180px;
                height: 30px;
                border: 1px solid rgba(53, 53, 53, 0.5);
                border-radius: 60px;
                padding-left: 29px;
                @include font-params (600, 14px, 18px);

                &::placeholder {
                    color: rgba(53, 53, 53, 0.5);
                }
            }

            button {
                &:last-child {
                    position: absolute;
                    top: 5px;
                    right: 10px;

                    img {
                        width: 20px;
                    }
                }
            }
        }
    }

    .auth-user__wrapper {
        display: block;
        max-width: 100%;
        margin: auto;
        min-height: calc(100% - 95px);
    }

    .stories_block {
        width: 80px;
        height: 80px;
        padding: 4px;
        position: relative;
        cursor: pointer;

        &:hover {
            &::before {
                transform: rotate(180deg);
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            background-size: cover;
            transition: all 1s;
        }

        img {
            width: 72px;
            height: 72px;
            object-fit: contain;
            border-radius: 50%;
        }
    }

    .auth_user__main-page {
        .stories_bar {
            margin-bottom: 30px;

            .slick-slider {
                .slick-track {
                    height: 80px;
                    @include flex-params (row, space-between, center);
                    flex-wrap: nowrap;
                    overflow: hidden;

                    .slick-slide {
                        width: 118px;
                        margin-right: 45px;
                    }
                }

                .slick-arrow {
                    z-index: 20;

                    &.slick-disabled {
                        display: none !important;
                    }

                    &.slick-prev {
                        left: 25px !important;
                    }

                    &.slick-next {
                        right: 25px !important;
                    }
                }
            }
        }

        .filter_bar {
            @include flex-params (row, space-between, center);
            margin-bottom: 30px;

            button {
                background: none;
                color: #949494
            }

            .filter {
                @include flex-params (row, flex-start, center);

                .categories {
                    margin-right: 30px;

                    button {
                        border: 1px solid #949494;
                        transition: all .5s;
                        @include font-params (700, 14px, 18px);
                        padding: 3px 5px;
                        margin-right: 8px;

                        &.active {
                            color: #353535;
                            border-color: #353535;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .gender {
                    button {
                        @include font-params (500, 14px, 18px);
                        margin-right: 15px;
                        transition: .2s;

                        &:last-child {
                            margin: 0;
                        }

                        &.active {
                            color: #353535;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .main-page__content {
            display: grid;
            grid-template-columns: auto;
            grid-auto-rows: 294px;
            gap: 18px;

            .content_block {
                position: relative;
                transition: .3s;

                >img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    object-fit: cover;
                }

                &:hover {
                    scale: 1.02;
                }

                &:nth-child(4n + 1) {
                    height: 606px;
                    grid-column: 1;
                }

                &:nth-child(4n + 3) {
                    height: 606px;
                    grid-column: 2;
                }

                .stories_block {
                    position: absolute;
                    z-index: 10;
                    bottom: 18px;
                    left: 15px;
                    width: 70px;
                    height: 70px;
                    padding: 7.5px;

                    &::before {
                        width: 70px;
                        height: 70px;
                    }

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        background: #fff;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        z-index: -1;
                    }

                    img {
                        width: 55px;
                        height: 55px;
                        z-index: 11;
                    }
                }
            }

            .casting_block {
                .casting_image {
                    position: relative;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }

                    .brand_logo {
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        background: #fff;
                    }
                }

                .casting_desc {
                    .flex__wrapper {
                        justify-content: space-between;
                        margin-bottom: 10px;

                        div {
                            p {
                                @include font-params (600, 14px, 18px);
                                text-transform: uppercase;

                                &:last-child {
                                    margin-top: 5px;
                                    @include font-params (500, 14px, 18px);
                                }
                            }
                        }
                    }

                    >p {
                        @include font-params (500, 14px, 18px);
                        margin-bottom: 10px;
                    }

                    a {
                        background: #0094FF;
                        @include flex-params (row, center, center);
                        border-radius: 10px;
                        width: 150px;
                        height: 30px;
                        @include font-params (500, 14px, 18px);
                    }
                }
            }
        }
    }

    .main-page__filter {
        position: fixed;
        background-color: #fff;
        z-index: 100;
        width: 550px;
        @include flex-params (column, flex-start, center);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 30px;

        .filter_close {
            @include font-params (500, 55px, 67px);
            color: #353535;
            transform: rotate(45deg);
            background: none;
            position: absolute;
            top: 0;
            right: -50px;
        }

        >div {
            max-width: 250px;
            @include flex-params (row, space-between, center);
            margin-bottom: 10px;

            h1 {
                @include font-params (700, 20px, 25px);
                margin-right: 10px;
            }
        }

        .select_group__wrapper {
            display: grid;
            grid-template-columns: 230px 230px !important;
            gap: 20px 30px !important;
            margin-bottom: 20px !important;
            max-width: max-content;

            div {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    right: 20px !important;
                    top: 17px !important;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-size: contain;
                }
            }

            select {
                width: 100%;
                height: 40px !important;
                border: 1px solid #353535;
                border-radius: 20px;
                outline: none;
                padding: 0 32px;
                appearance: none;
            }
        }

        .counter {
            @include font-params (400, 14px, 18px);
            margin-bottom: 40px;

            &.margin-none {
                margin-bottom: 20px;
            }

            span {
                font-weight: 700;
                color: #0094FF;
            }
        }

        .select__wrapper,
        .radio_input {
            width: 490px !important;
            height: 40px !important;
            margin-bottom: 20px !important;
            @include font-params (600, 14px !important, 18px !important);

            select {
                @include font-params (400, 10px !important, 12px !important);
            }

            label {
                &::before {
                    width: 10px !important;
                    height: 10px !important;
                    background-size: 5px !important;
                }
            }

        }

        .filter_pages {
            margin-bottom: 20px;

            button {
                background: #ECECEC;
                color: #353535;
                @include font-params (600, 10px, 14px);
                width: 20px;
                height: 20px;
                margin-right: 10px;
                transition: .1s;

                &:last-child {
                    margin: 0;
                }

                &.active {
                    background: #0094FF;
                    color: #fff;
                }
            }
        }

        .filter_toggle {
            margin-bottom: 20px;

            button {
                @include font-params (600, 12px, 15px);
                background: none;
                color: #35353580;
                height: max-content;

                &.active {
                    color: #353535;
                }
            }
        }

        button {
            height: 50px;
            width: 150px;
            @include font-params (600, 18px, 22px);
        }
    }
}